/* DropdownMenu */

.dropdown {
  position: absolute;
  top: 25px;
  width: 300px;
  transform: translateX(-104%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

/* DropdownItem */
.item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: pointer;
}

.item:hover {
  background-color: #525357;
}

.left {
  margin-right: 0.5rem;
}

.left:hover {
  filter: none;
}

.right {
  margin-left: auto;
}

.entering {
  position: absolute;
  transform: translateX(-110%);
}

.entered {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.exiting {
  position: absolute;
}

.exited {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.secondary-entering {
  transform: translateX(110%);
}
.secondary-entered {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.secondary-exiting {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}